---
layout: default
---
<div class="container">
  {% include header.html %}
  <div class="container-block">
    <aside class="sidebar">
      {% include contact.html %}
      {% include languages.html %}
      {% include skills.html %}
      {% include fork.html %}
    </aside>

    <main class="main">
      {% include education-main.html %}
      {% include research-interests.html %}
      {% include rd-projects.html %}
      {% include publications.html %}
      {% include teaching.html %}
      {% include patents.html %}
      {% include awards.html %}
      {% include last-updated.html %}
    </main>
  </div>
</div>
