---
layout: default
---
<div class="container">
  {% include header.html %}
  <div class="container-block">
    <div class="sidebar">
      {% include contact.html %}
      {% include languages.html %}
      //{% include education.html %}
      {% include skills.html %}
      //{% include fork.html %}
    </div>

    <div class="main">
      {% include education-main.html %}
      {% include research-interests.html %}
      {% include rd-projects.html %}
      {% include publications.html %}
      {% include teaching.html %}
      {% include patents.html %}
      {% include awards.html %}
      {% include last-updated.html %}
    </div>
  </div>
</div>
