.header {
  width: var(--cv-inner-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: var(--cv-sidebar-width) 1fr;
  column-gap: var(--cv-column-gap);
  align-items: center;

  .title {
    grid-column: 1;
    margin: 0;
    color: var(--fg-color-dark);
    font-weight: bolder;
    text-align: left;
  }

  input[type="checkbox"] {
    width: 0;
    height: 0;
    display: none;
  }

  label {
    grid-column: 2;
    justify-self: end;
    cursor: pointer;
    color: var(--fg-color-dark);
  }
}
