{% assign patents = site.data.data.patents %}

{% if patents %}
<section class="cv-section cv-patents">
  <h2 class="section-title">Patents</h2>

  <ul class="standard-list">
    {% for patent in patents %}
   <li>
    "{{ patent.title }}",
  
    <span class="authors">
      {% for inventor in patent.inventors %}  
        {% if inventor.me %}
          <span class="my-name">{{ inventor.name }}</span>
        {% else %}
          <span>{{ inventor.name }}</span>
        {% endif %}{% unless forloop.last %}{% if forloop.rindex == 2 %}, & {% else %}, {% endif %}{% endunless %}
      {% endfor %}
    </span>,  
    {{ patent.patent_no }}
    ({{ patent.date }}).
  </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
