{% assign publications = site.data.data.publications %}

{% if publications %}
<section class="cv-section cv-publications">
  <h2 class="section-title">Publications</h2>

  {% if publications.international %}
  <div class="publication-group">
    <div class="subsection-title">International Conference Presentations</div>

    <ul class="publication-list">
      {% for pub in publications.international %}
      <li>
        <span class="authors">
          {% for author in pub.authors %}
            {% if author.me %}
              <span class="my-name">{{ author.name }}</span>
            {% else %}
              {{ author.name }}
            {% endif %}

            {% unless forloop.last %}
              {% if forloop.rindex == 2 %}
                , &
              {% else %}
                ,
              {% endif %}
            {% endunless %}
          {% endfor %}
        </span>
        ({{ pub.year }}).
        <span class="pub-title">{{ pub.title }}.</span>
        <span class="venue">{{ pub.venue }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if publications.domestic %}
  <div class="publication-group">
    <div class="subsection-title">Domestic Conference Presentations</div>

    <ul class="publication-list">
      {% for pub in publications.domestic %}
      <li>
        <span class="authors">
          {% for author in pub.authors %}
            {% if author.me %}
              <span class="my-name">{{ author.name }}</span>
            {% else %}
              {{ author.name }}
            {% endif %}

            {% unless forloop.last %}
              {% if forloop.rindex == 2 %}
                , &
              {% else %}
                ,
              {% endif %}
            {% endunless %}
          {% endfor %}
        </span>
        ({{ pub.year }}).
        <span class="pub-title">{{ pub.title }}.</span>
        <span class="venue">{{ pub.venue }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</section>
{% endif %}
