{% assign teaching = site.data.data.teaching %}

{% if teaching %}
<section class="cv-section cv-teaching">
  <h2 class="section-title">Teaching</h2>

  <table class="education-table">
    <tbody>
      {% for item in teaching %}
      <tr>
        <td class="course">
          {{ item.position }}
        </td>

        <td>
          {{ item.course }}
        </td>

        <td>
          {{ item.period }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endif %}
