.cv-section {
  margin-bottom: 24px;

  .section-title {
    @include header;
  }

  .subsection-title {
    @include sub-header;
    margin-top: 10px;
    margin-bottom: 4px;
  }

  ul {
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 22px;
  }

  li {
    @include body-text;
    margin-bottom: 5px;
    line-height: 1.45;
  }
}

.education-table {
  width: 100%;
  border-collapse: collapse;
  @include body-text;

  th {
    padding: 4px 8px;
    color: var(--fg-color);
    font-weight: 700;
    border-bottom: 1px solid var(--fg-color);
    text-align: left;
  }

  td {
    padding: 5px 8px;
    vertical-align: top;
    color: var(--fg-color-body);
  }

  .course {
    width: 90px;
    color: var(--fg-color-dark);
    font-weight: 700;
  }

  .sub-info {
    color: var(--fg-color-title-sm);
  }
}

.cv-teaching {
  .education-table {
    .course {
      width: 180px;
      white-space: nowrap;
      font-weight: 700;
    }
  }
}

.interest-block {
  margin-bottom: 8px;
}

.publication-group {
  margin-bottom: 14px;

  .publication-list {
    margin-top: 5px;
  }
  .pub-title {
    color: var(--fg-color-body);
  }

  .venue {
    color: var(--fg-color-title-sm);
    font-style: italic;
  }
  
  .pub-status {
    color: #999 !important;
    font-size: 0.9em !important;
    font-style: italic !important;
  }
}

.publication-note {
  margin-top: 6px;
  text-align: right;
  font-size: 0.8em;
  color: var(--fg-color-title-sm);
}

.authors {
  color: var(--fg-color-body);
  font-weight: 400 !important;
}

.authors span {
  font-weight: 400 !important;
}

.authors .my-name {
  font-weight: bold !important;
}

.timeline-item {
  display: grid;
  grid-template-columns: 170px 1fr;
  column-gap: 18px;
  margin-bottom: 11px;
  @include body-text;
  line-height: 1.45;

  .timeline-time {
    color: var(--fg-color-title-sm);
    white-space: nowrap;
  }

  .item-title {
    color: var(--fg-color-body);
    font-weight: 600;
  }

  .item-organization {
    color: var(--fg-color-title-sm);
  }
}

.compact-item {
  display: grid;
  grid-template-columns: 1fr 150px;
  column-gap: 16px;
  margin-bottom: 8px;
  @include body-text;
  line-height: 1.45;

  .compact-content {
    color: var(--fg-color-body);
  }

  .compact-time {
    color: var(--fg-color-title-sm);
    text-align: right;
    white-space: nowrap;
  }
}

.standard-list {
  margin-top: 5px;

  li {
    @include body-text;
  }
}

.last-updated {
  margin-top: 36px;
  text-align: right;
  color: var(--fg-color-title-sm);
  font-size: 13px;
  font-style: italic;
}
